@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  background:
    url(../static/snow.png),
    url(../static/snow.png),
    #ffffff url(../static/vader-santa.webp) -20% bottom no-repeat;
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto auto, auto auto, auto 90vh;
  background-attachment: fixed, fixed, fixed;
  animation-name: snow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-family: 'Comic Sans MS';
}

@media (max-width: 640px) {
  body {
    background-size: auto auto, auto auto, auto 45vh;
    animation-name: snow-mobile;
  }
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: radial-gradient(
    ellipse 85% 110% at 0% 55%,
    transparent 0%,
    transparent 18%,
    rgba(255, 255, 255, 0.3) 25%,
    rgba(255, 255, 255, 0.7) 33%,
    #ffffff 43%
  );
  pointer-events: none;
  z-index: -1;
}

@media (max-width: 640px) {
  body::after {
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #ffffff 54%,
      transparent 69%,
      transparent 100%
    );
    z-index: 0;
  }
}

.bg-postcard {
  background: repeating-linear-gradient(
    45deg,
    #5CC48A,
    #5CC48A 30px,
    #FFFFFF 30px,
    #FFFFFF 60px,
    #EF3D3D 60px,
    #EF3D3D 90px,
    #FFFFFF 90px,
    #FFFFFF 120px
  );
}

.bg-postcard-nowhite {
  background: repeating-linear-gradient(
    45deg,
    #5CC48A,
    #5CC48A 30px,
    #EF3D3D 30px,
    #EF3D3D 60px
  );
}

.flex-0 {
  flex: 0 1 0%;
}

.postcard > div {
  @apply bg-white;
}


@keyframes snow {
  0% {
    background-position: 130px 40px, 0 0, -20% bottom;
  }
  100% {
    background-position: 130px 640px, 0 300px, -20% bottom;
  }
}

@keyframes snow-mobile {
  0% {
    background-position: 130px 40px, 0 0, center bottom;
  }
  100% {
    background-position: 130px 640px, 0 300px, center bottom;
  }
}
